ansi2html==1.8.0
arabic-reshaper==3.0.0
asn1crypto==1.5.1
async-timeout==4.0.2
beautifulsoup4==4.12.2
Brotli==1.0.9
cchardet==2.1.7
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.3
cryptography==41.0.3
cssselect2==0.7.0
dash==2.12.1
dash-bootstrap-components==1.3.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DateTime==5.1
distlib==0.3.5
et-xmlfile==1.1.0
filelock==3.4.1
Flask==2.2.3
fonttools==4.41.1
html5lib==1.1
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.1.2
Jinja2==3.1.3
lxml==4.9.2
MarkupSafe==2.1.2
nest-asyncio==1.5.7
numpy==1.24.2
numpy-financial==1.0.0
openpyxl==3.1.2
oscrypto==1.3.0
pandas==2.0.1
pbr==5.9.0
pdfkit==1.0.0
Pillow==9.5.0
platformdirs==2.4.0
plotly==5.13.1
pycparser==2.21
pydyf==0.7.0
pyHanko==0.20.0
pyhanko-certvalidator==0.23.0
PyMuPDF==1.22.5
pypandoc==1.11
pypdf==3.10.0
pyphen==0.14.0
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.8.2
pytz==2023.3
PyVirtualDisplay==3.0
PyYAML==6.0.1
qrcode==7.4.2
redis==4.5.5
regex==2023.6.3
reportlab==3.6.13
requests==2.31.0
retrying==1.3.4
rq==1.15.0
six==1.16.0
soupsieve==2.4.1
stevedore==3.5.0
svglib==1.5.1
tenacity==8.2.1
tinycss2==1.2.1
typing_extensions==4.1.1
tzdata==2023.3
tzlocal==5.0.1
uritools==4.0.1
urllib3==2.0.4
virtualenv==20.15.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
weasyprint==59.0
webencodings==0.5.1
Werkzeug==2.2.3
wkhtmltopdf==0.2
xhtml2pdf==0.2.11
zipp==3.6.0
zope.interface==6.0
zopfli==0.2.2
